<script>
    //    function frequencyShowTip()
    //    {
    //        $('#frequency').tooltip('show');
    //    }
</script>


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                </button>
                <h4 class="modal-title" id="myModalLabel"><%=data.title%></h4>
            </div>
            <div class="modal-body" style="height: 450px;overflow: auto" >
                <form class="form-horizontal" id="empForm" method="post">
                    <input type="hidden" id="id" name="id" value="<%=data.emp.id?data.emp.id:''%>">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">姓名</label>
                                <div class="col-sm-6">
                                    <input type="text" maxlength="15" class="form-control required "  value="<%=data.emp.name?data.emp.name:''%>"  id="name" name="name" >
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="sex" class="col-sm-3 control-label">性别</label>
                                <div class="col-sm-6">
                                    <select class="form-control required" id="sex" name="sex" >
                                        <option value="">请选择</option>
                                        <option value="MAN">男</option>
                                        <option value="WOMAN">女</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="birthday" class="col-sm-3 control-label">出生日期</label>
                                <div class="col-sm-6">
                                    <input  type="text" id="birthday" name="birthday" class="form-control  Wdate required " value="<%=data.emp.birthday?common.fn.formatDateTime(data.emp.birthday):''%>" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:new Date()})"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="people" class="col-sm-3 control-label">民族</label>
                                <div class="col-sm-6">
                                    <select class="form-control required" id="people" name="people" >
                                        <option value="">请选择</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="isMarry" class="col-sm-3 control-label">婚姻状况</label>
                                <div class="col-sm-6">
                                    <select class="form-control required" id="isMarry" name="isMarry" >
                                        <option value="">请选择</option>
                                        <option value="false">未婚</option>
                                        <option value="true">已婚</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="jiGUan" class="col-sm-3 control-label">籍贯</label>
                                <div class="col-sm-6">
                                    <input type="text" maxlength="15" class="form-control required "     id="jiGUan" name="jiGUan" value="<%=data.emp.jiGUan?data.emp.jiGUan:''%>" >
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="politicsFace" class="col-sm-3 control-label">政治面貌</label>
                                <div class="col-sm-6">
                                    <input type="text" maxlength="11" class="form-control required "     id="politicsFace" name="politicsFace" value="<%=data.emp.politicsFace?data.emp.politicsFace:''%>" >
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="residenceAddress" class="col-sm-3 control-label">户口所在地</label>
                                <div class="col-sm-6">
                                    <input type="text" maxlength="50" class="form-control required "     id="residenceAddress" name="residenceAddress" value="<%=data.emp.residenceAddress?data.emp.residenceAddress:''%>" >
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="idCard" class="col-sm-3 control-label">身份证</label>
                                <div class="col-sm-6">
                                    <input type="text" maxlength="18" class="form-control required"     id="idCard" name="idCard" value="<%=data.emp.idCard?data.emp.idCard:''%>" >
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="telephone" class="col-sm-3 control-label">电话</label>
                                <div class="col-sm-6">
                                    <input type="text" maxlength="11" class="form-control required positiveInteger"     id="telephone" name="telephone" value="<%=data.emp.telephone?data.emp.telephone:''%>" >
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row">



                        <div class="col-xs-6">
                            <div class="form-group">
                                <label  class="col-sm-3 control-label">部门</label>
                                <div class="col-sm-6">
                                    <select class="form-control required " id="depId"   name="depId" >
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">职位</label>
                                <div class="col-sm-6">
                                    <input class="form-control required " value="<%=data.emp.position?data.emp.position:''%>" id="position" name="position" >
                                    </input>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="idCard" class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-6">
                                    <input type="text" maxlength="50" class="form-control required email"     id="email" name="email" value="<%=data.emp.email?data.emp.email:''%>" >
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="diploma" class="col-sm-3 control-label">学历</label>
                                <div class="col-sm-6">
                                    <select class="form-control required " id="diploma"   name="diploma" >
                                        <option value="小学">小学</option>
                                        <option value="初中">初中</option>
                                        <option value="高中">高中</option>
                                        <option value="大专">大专</option>
                                        <option value="本科">本科</option>
                                        <option value="硕士">硕士</option>
                                        <option value="博士">博士</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="eduSchool" class="col-sm-3 control-label">毕业院校</label>
                                <div class="col-sm-6">
                                    <input type="text" maxlength="50" class="form-control required "     id="eduSchool" name="eduSchool" value="<%=data.empDetail.eduSchool?data.empDetail.eduSchool:''%>" >
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="englishLevel" class="col-sm-3 control-label">英语等级</label>
                                <div class="col-sm-6">
                                    <input type="text" maxlength="11" class="form-control required positiveInteger"     id="englishLevel" name="englishLevel" value="<%=data.empDetail.englishLevel?data.empDetail.englishLevel:''%>" >
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="computerLevel" class="col-sm-3 control-label">计算机等级</label>
                                <div class="col-sm-6">
                                    <input type="text" maxlength="50" class="form-control required positiveInteger"  value="<%=data.empDetail.computerLevel?data.empDetail.computerLevel:''%>"    id="computerLevel" name="computerLevel" >
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="specialty" class="col-sm-3 control-label">专业</label>
                                <div class="col-sm-6">
                                    <input type="text" maxlength="50" class="form-control required"  value="<%=data.empDetail.specialty?data.empDetail.specialty:''%>"    id="specialty" name="specialty" >
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="graduatedDate" class="col-sm-3 control-label">毕业时间</label>
                                <div class="col-sm-6">
                                    <input  type="text" id="graduatedDate" name="graduatedDate" class="form-control  Wdate required " value="<%=data.empDetail.graduatedDate?common.fn.formatDateTime(data.empDetail.graduatedDate):''%>" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:new Date(),minDate:'#F{$dp.$D(\'birthday\',{d:0});}'})"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="specialty" class="col-sm-3 control-label">紧急联系人</label>
                                <div class="col-sm-6">
                                    <input type="text" maxlength="50" class="form-control required"  value="<%=data.empDetail.urgentPeople?data.empDetail.urgentPeople:''%>"    id="urgentPeople" name="urgentPeople" >
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="graduatedDate" class="col-sm-3 control-label">紧急联系电话</label>
                                <div class="col-sm-6">
                                    <input  type="text" maxlength="11" id="urgentMobile" name="urgentMobile" class="form-control  required positiveInteger" value="<%=data.empDetail.urgentMobile?data.empDetail.urgentMobile:''%>" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-xs-9">
                            <div class="form-group">
                                <label for="familyAddress" class="col-sm-2 control-label">家庭住址</label>
                                <div class="col-sm-10">
                                    <input type="text" maxlength="100" class="form-control required "     id="familyAddress" name="familyAddress" value="<%=data.empDetail.familyAddress?data.empDetail.familyAddress:''%>" >
                                </div>
                            </div>
                        </div>


                    </div>


                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="saveOrUpdateEmp"  onclick="employee.fn.saveEmp('<%=data.randomDialogId%>');">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<style>
    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        background-color: #f4f6f6;
        border-color: #d5dbdb;
        color: #34495e;
        cursor: default;
        opacity: 1;
        filter: alpha(opacity=70);
    }
</style>

