<% for(var i=0 ; i<data.list.length;i++){ %>
<tr>
    <td><%=data.list[i].employee.id%></td>
    <td><%=data.list[i].employee.name%></td>
    <td>
        <%=common.fn.formatMonth(data.list[i].attendanceDate)%>
    </td>
    <td><%=data.list[i].takeOff%></td>
    <td><%=data.list[i].causalLeave%></td>
    <td><%=data.list[i].sickLeave%></td>
    <td><%=data.list[i].skipWork%></td>

    <td>
    <input type="button" class="btn btn-primary" value="修改" onclick="attendance.fn.getById(<%=data.list[i].id%>)">
    <input type="button" class="btn btn-primary" value="删除" onclick="attendance.fn.delete(<%=data.list[i].id%>)">
    </td>
</tr>
<%}%>