<%for(var i=0 ; i<data.list.length ; i++){%>
    <tr>
        <td class="center">
            <label>
                <input name="tradeIds" type="checkbox" class="ace" value="<%=data.list[i].tid%>" />
                <span class="lbl"></span>
            </label>
        </td>
        <td>
            <%=data.list[i].tid%>
        </td>
        <td>
            <% var orders = data.list[i].orders %>
            <% for( var j = 0;j<orders.length;j++) {%>
                <a target="_blank" href="http://item.taobao.com/item.htm?id=<%=orders[j].numIid%>" ><%=orders[j].title%></a> <br/>
                数量:<%=orders[j].num%>&nbsp;&nbsp;&nbsp;&nbsp; 实付:&nbsp;&nbsp;<i class="fa fa-jpy light-orange fa-1x"></i>&nbsp;&nbsp;<%=orders[j].payment%>
                <br/>
            <%}%>

        </td>
        <td><%=data.list[i].buyerRate?'已评价':'未评价'%></td>
        <td><i class="fa fa-jpy light-orange fa-1x"></i>&nbsp;&nbsp;<%=data.list[i].payment%></td>
        <td>
            <span class="label label-lg label-info arrowed-right">拍下:<%=common.fn.formatDateTime(data.list[i].created)%></span><br/>
            <span class="label label-lg label-warning  arrowed-right">付款:<%=common.fn.formatDateTime(data.list[i].payTime)%></span><br/>
            <span class="label label-lg  label-success  arrowed-right">成功:<%=common.fn.formatDateTime(data.list[i].endTime)%></span>
        </td>
        <td>
            <%=data.list[i].buyerNick%>
            <a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&amp;touid=<%=data.list[i].buyerNick%>&amp;siteid=cntaobao&amp;status=2&amp;charset=utf-8"><img border="0" src="http://amos.alicdn.com/realonline.aw?v=2&amp;uid=yangyan641102&amp;site=cntaobao&amp;s=2&amp;charset=utf-8" alt="点击这里给我发消息"></a>
            <br/>
            <button type="button" class="btn btn-minier btn-purple" onclick="Rate.fn.showBuyerInfo(<%=data.list[i].tid%>)">联系信息</button>
        </td>
        <td><%=data.list[i].overTime == 'false'?'<span class="label label-danger ">已失效</span>':data.list[i].overTime%></td>

    </tr>
<%}%>