<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                </button>
                <h4 class="modal-title" id="myModalLabel">联系信息</h4>
            </div>
            <div class="modal-body">
                <div class="profile-user-info">
                    <div class="profile-info-row">
                        <div class="profile-info-name"> 收货人 </div>

                        <div class="profile-info-value">
                            <i class="fa fa-user light-orange  fa-1x"></i>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <span><%=data.receiverName%></span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name"> 手机 </div>
                        <div class="profile-info-value">
                            <i class="fa fa-mobile light-orange  fa-2x"></i>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <span> <%=data.receiverMobile%></span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name"> 收货地址 </div>
                        <div class="profile-info-value">
                            <i class="fa fa-map-marker light-orange  fa-2x"></i>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <span><%=data.receiverState%> <%S=data.receiverCity%> <%S=data.receiverDistrict%> <%=data.receiverTown%> <%=data.receiverAddress%></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<style>
    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        background-color: #f4f6f6;
        border-color: #d5dbdb;
        color: #34495e;
        cursor: default;
        opacity: 1;
        filter: alpha(opacity=70);
    }
</style>

