<script xmlns="http://www.w3.org/1999/html">
    //    function frequencyShowTip()
    //    {
    //        $('#frequency').tooltip('show');
    //    }
</script>


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                </button>
                <h4 class="modal-title" id="myModalLabel"><%=data.title%></h4>
            </div>
            <div class="modal-body" style="height: 450px;overflow: auto" >
                <form class="form-horizontal" id="needForm" method="post">
                    <input type="hidden" name="id" id="id" value="<%=data.id%>">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="empId" class="col-sm-3 control-label">员工</label>
                                <div class="col-sm-6">
                                    <select  class="form-control required "    id="empId" name="empId" ></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="depId" class="col-sm-3 control-label">招聘部门</label>
                                <div class="col-sm-6">
                                    <select  class="form-control required "    id="depId" name="depId" ></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="position" class="col-sm-3 control-label">招聘职位</label>
                                <div class="col-sm-6">
                                    <input  type="text" id="position" name="position"  maxlength="20" class="form-control required" value="<%=data.position?data.position:''%>"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="recruitStatus" class="col-sm-3 control-label">招聘状态</label>
                                <div class="col-sm-6">
                                    <select  class="form-control required "    id="recruitStatus" name="recruitStatus" >
                                        <option value="">请选择</option>
                                        <option value="RUNNING">进行中</option>
                                        <option value="END">结束</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="minSalary" class="col-sm-3 control-label">最低工资</label>
                                <div class="col-sm-6">
                                    <input class="form-control required"  maxlength="10" id="minSalary" name="minSalary" value="<%=data.minSalary?data.minSalary:''%>" >
                                    </input>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="maxSalary" class="col-sm-3 control-label">最高工资</label>
                                <div class="col-sm-6">
                                    <input type="text" maxlength="10" class="form-control required "     id="maxSalary" name="maxSalary" value="<%=data.maxSalary?data.maxSalary:''%>" >
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="recruitDate" class="col-sm-3 control-label">招聘日期</label>
                                <div class="col-sm-6">
                                    <input  type="text" id="recruitDate" name="recruitDate" class="form-control  Wdate required " value="<%=data.recruitDate?common.fn.formatDate(data.recruitDate):''%>" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="row">

                            <div class="col-xs-9">
                                <div class="form-group">
                                    <label for="recruitCondition" class="col-sm-2 control-label">招聘条件</label>
                                    <div class="col-sm-10">
                                        <textarea  cols="40" rows="4" class="form-control required "  id="recruitCondition" name="recruitCondition"><%=data.recruitCondition%></textarea>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>





                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="saveOrUpdateEmp"  onclick="need.fn.save('<%=data.randomDialogId%>');">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<style>
    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        background-color: #f4f6f6;
        border-color: #d5dbdb;
        color: #34495e;
        cursor: default;
        opacity: 1;
        filter: alpha(opacity=70);
    }
</style>

